@import 'root.css';
@font-face {
    font-family:Signature !important;
    src: url('../fonts/Photograph-Signature.ttf') !important;
  }
.Video-container{
    position: relative;
    background: var(--blue-marine);
    width: 90%;
    height: 80vh;
    margin-top: 2%;
    margin-left: 5%;
    padding-top: 8px;
    padding-bottom: 5%;

}
.vid-hr{
    position: absolute;
    background: var(--blue-ciel);
    color: black; 
    width:35%;
    height: 3px;
    border:1px solid var(--blue-ciel);
    border-radius: 1px;
    bottom: 70%;
    right: 33%;
}

.EJE_video_logo{
        position:absolute;
        width: 9%;
        top:32%;
        left:18%;
}
.ENSI_video_logo{
    position:absolute;
    width: 9%;
    top:30%;
    left:2%;
}
.Text_slog{
    color: white;
    position:absolute;
    width: 8%;
    top:64%;
    left:-1%;
    font-size: 1.5rem;
    font-family: var(--signature);
}
.Text_slog:hover{
    cursor: pointer;
    color: var(--blue-ciel);
}
.fh2{
    font-family: var(--signature);
    font-size:2.5rem;
}
.Hashtag{
    font-size: 3rem;
    color: var(--blue-ciel);
}
.Video-title{
    font-family: Gilroy;
    color:white;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 3%;
}

.vidspan{
    color: var(--blue-ciel);
}


.player-wrapper {
    margin-left: 38%;
    width:60%;
    position: relative;
    padding-top: 30% /* Player ratio: 100 / (1280 / 720) */
}
.vl {
    opacity: 0.7;
    margin-top: 4%;
    float: left;
    border-left: 6px solid white;
    margin-left: 35%;
    height: 300px;
    border-radius: 15%;
  }
  
.react-player {
    position: absolute;
    top: 0;
    left: 0;
}
@media screen and (max-width:1300px){
    .Video-container{
        height: 60vh;
    }
    .Text_slog{
        top:60%
    }
    .fh2{
        font-size: 2rem;
    }
    .vl{
        height: 200px;
    }
}
@media screen and (max-width:960px){
    .Text_slog{
        top:52%;
        left:-2%;
    }
    .fh2{
        font-size: 1.8rem;
    }
    .vl{
        height: 200px;
    }
}
@media screen and (max-width:890px) {
    .vl{
        height: 0;
    }
    .player-wrapper {
        margin-left: 10%;
        width:80%;
        position: relative;
        padding-top: 40% /* Player ratio: 100 / (1280 / 720) */
    }
    .Text_slog{
        top:76%;
        left:22%;
        font-size: 2.5rem;
    }
    .fh2{
        font-size: 2.5rem;
    }
    .EJE_video_logo{
        width: 10%;
        top:77%;
        left:5%;
}
.ENSI_video_logo{
    width: 11%;
    top:75%;
    left:85%;
}
    
}
@media screen and (max-width:890px) {
    .vl{
        height: 0;
    }
    .player-wrapper {
        margin-left: 10%;
        width:80%;
        position: relative;
        padding-top: 40% /* Player ratio: 100 / (1280 / 720) */
    }
    .Text_slog{
        top:76%;
        left:18%;
        font-size: 2.3rem;
    }
    .fh2{
        font-size: 2.3rem;
    }

    
}
@media screen and (max-width:650px){
    .player-wrapper{
        margin-left: 4%;
        width: 92%;
        margin-top: 8%;
        padding-top: 65%
    }
    .Text_slog{
        top:86%;
        left:20%;
        font-size: 1.9rem;
    }
    .fh2{
        font-size: 1.9rem;
    }
    .fh1{
        font-size: 1.6rem;
    }
    .EJE_video_logo{
        width: 10%;
        top:88%;
        left:5%;
}
.ENSI_video_logo{
    width: 10%;
    top:86%;
    left:85%;
}
}
@media screen and (max-width:520px){
    .Video-container{
        height: 50vh;
    }
    .EJE_video_logo{
        width: 10%;
        top:89%;
        left:0%;
}
.ENSI_video_logo{
    width: 10%;
    top:88%;
    left:93%;
}
.Text_slog{
    top:83%;
    left:15%;
    font-size: 1.9rem;
}
}
@media screen and (max-width:430px){
    .Text_slog{
        font-size: 1.7rem;
    }
    .fh2{
        font-size: 1.7rem;
    }
}
@media screen and (max-width:430px){
    .Text_slog{
        font-size: 1.4rem;
    }
    .fh2{
        font-size: 1.4rem;
    }
}


