@import 'root.css';
@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-Bold.woff);
  }
  @font-face {
    font-family: proxima-nova;
    src: url(../fonts/proxima-nova-light-webfont.woff);
  }
  .paper{
      width:75%;
      margin-top: 1%;
  }
.EJE_par{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
  
}
.EJE_par_title{
    text-align: center;
    font-size: 2rem;
    font-family: Gilroy;
    color:var(--blue-ciel);
    margin-top:3%;
    margin-bottom: 1%;
    
}
.EJE_par_description{
    font-family: proxima-nova;
    color:var(--blue-marine);
    font-size: 1.2rem;
    position:relative;
       text-align: center;
    line-height: 1.4;
    overflow: hidden;
    width: 85%;
    margin-left: 7.5%;
    margin-bottom: 3%;
    

}
.EJE_par_logo{
    margin-top: 5%;
    margin-left: 2%;
    width: 24%;
}
.EJE_par_description_left{
    margin-top: 3%;
    width: 36%;
    float: left;
    
}
.EJE_par_description_right{
    margin-top: 3%;
    width: 36%;
    float: right;
  
   
}
.EJE_par_description_left:before
.EJE_par_description_right::before{
    content: ""; 
    width: 50vw; 
    
   
}
.EJE_par_description_left:before{
    float: right;
}
.EJE_par_description_right:before{
    float: left;
}
@media screen and (max-width:1300px){
    .paper{
        width:85%;
    }
    .EJE_par_logo{
        margin-top: 20%;
    }
}

@media screen and (max-width: 1000px) {
    .paper{
        width:90%;
    }

    .EJE_par_logo{
        margin-top: 20%;
    }
    .EJE_par_title{
        font-size: 2rem;
        margin-top:5%;
    }
    .EJE_par_description{
        font-size: 1.4rem;
        
    }
 
  }
@media screen and (max-width: 750px) {
    .paper{
        width:90%;
    }
    .EJE_par{
       
    }
    .EJE_par_logo{
        margin-top: 35%;
        margin-left: 2%;
        width: 24%;
    }
    .EJE_par_title{
        text-align: center;
        font-size: 2rem;
        font-family: Gilroy;
        color:var(--blue-ciel);
        margin-top:5%;
        margin-bottom: 1%;
    }
    .EJE_par_description{
        font-family: proxima-nova;
        color:var(--blue-marine);
        font-size: 1.2rem;
        position:relative;
        text-align: center;
        line-height: 1.4;
        overflow: hidden;
        width: 85%;
        margin-left: 7.5%;
        margin-bottom: 3%;
    }
  }
  @media screen and (max-width: 600px) {
      .paper{
          width: 90%;
          display: grid;
          opacity: 1;
          margin-top: 6%;
      }
    .EJE_par{
       
        margin-top: 21%;
    }
    .EJE_par_logo{
        position:absolute;
        filter: blur(4px);
          -webkit-filter: blur(3px);
        right: 15%;
        width: 70%;
        opacity: 0.5;
        margin-top: 20%;
    }
    .EJE_par_title{
        font-size: 2rem;
        margin-top:5%;
        margin-bottom: 8%;
        border-bottom: 4px solid var(--blue-ciel) ;
        width : 78%;
        margin-left: 9%;   
    }
    .EJE_par_description{
        font-size: 1rem;
    }
    .EJE_par_description_left{
        width: 100%;
    }
    .EJE_par_description_right{
        width: 100%;
    }
    
  }

  @media screen and (max-width : 400px) {
      .paper{
          margin-top: 10%;
      }
      

.EJE_par_description{
    font-size: 1rem;
}
.EJE_par_logo{
    margin-top: 60%;
}
  }