@import "root.css";

.home-header-overlay {
  background-color: rgb(46, 163, 221, 0.5);
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
}

.home-header-title {
  font-size: 3.5rem;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 60vw;
  font-family: "Gilroy-Bold";
  display: flex;
  justify-content: center;
  text-shadow:3px 1px 2px var(--blue-marine);
}

.home-header-slogan {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 5%;
  font-family: "Photograph-Signature";
  text-shadow:3px 1px 2px var(--blue-marine);
}

.timer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  width: 60vw;
}

.timer {
  font-size: 50px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(31, 33, 45, 0.4);
  border-radius: 15px;
  width: 100px;
}

.timer span {
  font-size: 16px;
  color: white;
}

.semicolon {
  font-size: 36px;
}

.home-header-bg {
  background-image: url("../images/cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.edition {
  box-sizing: border-box;
  padding: 0 1rem;
  width: 40vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0;
  background-color: var(--beige);
  mix-blend-mode: screen;

  font-size: calc(2rem + 6vw);
  font-weight: 900;
  letter-spacing: -0.15rem;
  line-height: 0.9;
  text-align: right;
  text-transform: uppercase;
  font-family: "Gilroy-Bold";

}

.edition h1 {
  font-size: 70px;
}

.home-header-content {
  height: 100vh;
  width: auto;
  display: flex;

}

.button {
  color: #fff;
  transition: all 0.5s;
  position: relative;
  background-color: rgb(31, 33, 45, 0.3);
  padding: 1rem 2rem;
  border-radius: 15px;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: color #2ea3dd;
  transition: all 0.3s;
}

.button:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  transform: scale(1.2, 1.2);
}

.button:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

a {
  text-decoration: none;
}



.social-links {
  display: flex;
  position: absolute;
  left: 1%;
  bottom: 1%;
}

.social-links a {
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  color: #000;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  margin: 0 5px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a .fab {
  font-size: 30px;
  line-height: 80px;
  position: relative;
  z-index: 10;
  transition: color 0.5s;
}

.social-links a::after {
  content: "";
  width: 100%;
  height: 100%;
  top: -90px;
  left: 0;
  background: #000;
  background: linear-gradient(
    18deg,
    rgba(31, 33, 45, 1) 0%,
    rgba(46, 163, 221, 1) 61%
  );
  position: absolute;
  transition: 0.5s;
}

.social-links a:hover::after {
  top: 0;
}

.social-links a:hover .fab {
  color: #fff;
}

.social-links a:hover {
  transform: translateY(-10px);
}


@media (max-width: 950px) {
  .timer-container {
    width: 40vw;
  }

  .timer {
    margin-bottom: 2.5%;
    margin-top: 2.5%;
  }
}

@media (max-width: 900px) {
  .home-header-slogan {
    font-size: 2.2rem;
  }
}

@media (max-width: 750px) {
  .home-header-content {
    flex-direction: column;
  }
  .edition {
    width: 100vw;
    text-align: center;
    margin-top: 80px;
    height: 180px;
  }
  .edition h1 {
    font-size: 40px;
  }

  .timer-container {
    width: 90vw;
  }

  .home-header-title {
    text-align: center;
    width: 100vw;
  }
}

@media (max-width: 590px) {
  .edition {
    height: 150px;
    margin-bottom: 0;
  }
  
  .home-header-slogan {
    margin-bottom: 8%;
  }
}

@media (max-height: 650px) {
  .edition h1 {
    font-size: 30px;
  }
  .timer{
    height: 65px;
    width: 65px;
  }
  .timer-container{
    margin-top: 0 !important;
  }
}

@media (max-width: 540px) {
  .home-header-title {
    display: none;
  }
  .timer-container {
    margin-top: 5%;
  }
}
