@font-face {
  font-family: Gilroy-Bold;
  src: url(../../assets/fonts/Gilroy-Bold.woff);
}
@font-face {
  font-family: Proxima-nova;
  src: url(../../assets/fonts/proxima-nova-light-webfont.woff);
}
@font-face {
  font-family: Photograph-Signature;
  src: url(../../assets/fonts/Photograph-Signature.ttf);
}

.presForumContainer{
  background: linear-gradient(to right, #1f212d 0%,#1f212d 20%, white 20%,white 80%,white 100%); 
  height: auto;

}
.line{
  border-bottom: 2px solid #1f212d;
  width: 42%;
  padding-top:6px;
}
.event_text{
  font-size: 1.2rem;
  width: 65%;
  font-family: Proxima-nova;
  padding:30px;
  display: inline-block;
  padding-bottom: 50px;

}

.img_container{
  width : 30%;
  padding-left: 4%;
  display: inline-block;
}
.imggg{
  width: 100%;
  height: auto;
  box-shadow: 8px 8px 5px 1px rgba(0, 0, 0, 0.5);
}
.forumDescription{
  width: 100%;
  padding-top:10px;
}
.t_text{
  font-size: 2.5rem;
  color:  #2ea3dd;
  font-family: Gilroy-Bold;
  text-shadow: 2px 1px 2px var(--blue-marine);

}

.edition_text{
  color:  #2ea3dd;
  margin-top: 4%;
  margin-left: 8%;
  font-size: 2.5rem;
  font-family: Photograph-Signature;
  text-align: center;
 
}

@media  screen and (max-width :900px) {
  
  .img_container{
    display: grid;
    width: 90%;
    padding-top: 35px;
  }
  .event_text{
    margin-left:30%;
    padding:0%;
    padding-right: 30px;
    padding-top:30px;
    width:70%;
    padding-bottom: 30px;
  }
  
  .edition_text{
    position: absolute;
    width: 10%;
    text-align: center;
    color:var(--blue-ciel);
    margin-left: 1%;
    margin-top: 70%;
  }
}

@media screen and (max-width : 500px){
  .presForumContainer{
    margin-top: 5%;
  }
  .t_text{
    font-size: 2rem;
  }
  .edition_text{
    font-size:2rem;
  }
}

@media screen and (max-width : 400px){
  .t_text{
    font-size: 1.7rem;
  }
  .edition_text{
    font-size:1.5rem;
    margin-top: 75%;
  }
}

