
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff');
  }
  @font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova-light-webfont.woff');
  }

  @font-face {
    font-family: 'Signature';
    src: url('../fonts/Photograph-Signature.ttf');
  }
:root{
    --blue-marine:#1f212d;
    --blue-ciel : #2ea3dd;
    --beige : #e0ded2;
    --primary:'Gilroy';
    --secondary: 'Proxima Nova';
    --signature:"Signature"
  
}


p{
    font-family: 'Proxima Nova';
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Gilroy';
}


